StaffTravel/StaffTravel/Connected Services/EmailService/EmailService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/sunwing.Ens.BLL.CustomException" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/sunwing.Ens.BLL.CustomException" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAgentJobException">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AgentJobException" nillable="true" type="tns:AgentJobException" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAgentJobException" nillable="true" type="tns:ArrayOfAgentJobException" />
  <xs:complexType name="AgentJobException">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="emailId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AgentJobException" nillable="true" type="tns:AgentJobException" />
</xs:schema>